<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <logger name="de.ctrlaltdel" level="INFO" />
    <logger name="org.apache.http.wire" level="DEBUG" />
    <logger name="org.keycloak" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
